extends ../layout

block content
  .page-header
    h2
      img(src='https://i1.wp.com/memolition.com/wp-content/uploads/2014/08/25-gifs-that-teach-you-math-concepts-43497.gif?fit=400%2C400', style='width:50px;')
      | View Questions
  .row#questionPreview
    each question in questions
        form.question-main-wrapper(action='/questionDetails/'+question._id, method='get')
          button.question-container(name=id,value=question._id,type='submit',style='width: 100%; height: 100px; ')
              .col-lg-1.col-md-1.col-sm-2.col-xs-2.answer-view-container
                if question.answer
                  div.numberOfAnwers=question.answer.length
                  div answers
                else
                  div.numberOfAnwers 0
                  div answers
              div.question-content-container.col-lg-11.col-md-11.col-sm-10.col-xs-10
                
                  div.question-title=question.question.title
                  div.question-content= question.question.content
                  div.question-topic= '(' + question.question.topic + ')'
                  div.question-created-on.pull-right
                    div= 'created on'+" "+ question._id.getTimestamp().getDate() + '-' + parseInt(question._id.getTimestamp().getMonth()+1) + '-' + question._id.getTimestamp().getFullYear()
                    div= 'by '+ question.createdBy.name
